.delivery-block-accordion {
  border: 1px solid silver;
  border-radius: 3px;
  margin-bottom: 20px;
  margin-top: 20px;
  background: #edf7ff; }
  .delivery-block-accordion.active {
    border: 2px solid #2196f3;
    box-shadow: 0 0 10px #2196f37d; }
  .delivery-block-accordion .accordion-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 10px 70px; }
    .delivery-block-accordion .accordion-header .accordion-left {
      display: flex;
      justify-content: space-between;
      align-items: center; }
  .delivery-block-accordion .accordion-content {
    padding: 20px; }
  .delivery-block-accordion p {
    font-weight: 700;
    font-size: 13px;
    margin: 0; }
  .delivery-block-accordion img {
    width: 25px;
    object-fit: contain;
    margin-right: 15px; }

.cart .cart-delivery .radio {
  border: 1px solid silver;
  margin-top: 15px;
  border-radius: 3px;
  background: #ffffff; }
  .cart .cart-delivery .radio label {
    display: flex;
    align-items: center; }
  .cart .cart-delivery .radio .subtext {
    font-style: initial;
    width: auto;
    font-weight: 400;
    margin-left: 0; }
