/* @media (max-width: 991px) {
    .row.item_detail_information {
        margin-top: 45px;
    }
    .headerMain .breadcrumbContainer {
        margin-top: 0;
    }
    .headerMain .breadcrumbContainer.scrolled {
        margin-top: 38px;
    }
    .headerMain .searcher.compact form.container-show {
        display: flex !important;
    }
    .headerMain .searchIcon {
        display: none !important;
    }
}
@media (min-width: 992px) {
    .custom-menu .rooms-custom {
        display: flex !important;
        margin: 30px 0;
        align-items: center;
        justify-content: center;
    }
    .custom-menu .rooms-custom .dropdown-item__image1,
    .custom-menu .rooms-custom .dropdown-item__image2,
    .custom-menu .rooms-custom .dropdown-item__image4,
    .custom-menu .rooms-custom .dropdown-item__image3 {
        position: relative;
        height: 300px;
        width: 300px;
        margin: 0 20px;
    }
    .custom-menu .rooms-custom .dropdown-item__image1 {
        background: url(https://semexit.s3-eu-west-1.amazonaws.com/Katalogas.jpg);
        background-size: cover;
        background-position: center top;
    }
    .custom-menu .rooms-custom .dropdown-item__image2 {
        background: url(https://semexit.s3-eu-west-1.amazonaws.com/Idejos.jpg);
        background-size: cover;
        background-position: center top;
    }
} */
