/* body {
    color: #848484;
}
.new-banner {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -42px;
    margin-bottom: 40px;
    height: 60px;
    background: #fff;
    box-shadow: 0 0 20px silver;
}
.new-banner__inner {
    max-width: 940px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 20px;
}
.new-banner__block {
    font-size: 11px;
    padding: 0 10px;
    display: flex;
    align-items: center;
}
.new-banner__block img {
    max-width: 15px;
    margin-right: 7px;
    max-height: 11px;
}
@media (max-width: 700px) {
    #block-nodeblock-41 > div > div.hero_left > a {
        margin: 0;
        width: 180px;
        font-size: 14px;
        padding: 10px 1px;
    }
    #block-nodeblock-41 > div > div.hero_left > span {
        text-align: left;
        font-size: 13px;
        margin-left: 13px;
        margin-top: -10px;
    }
    .new-banner__inner {
        display: block;
        padding: 20px 0;
    }
    .new-banner__block img {
        max-width: 15px;
        margin-right: 12px;
    }
    #top_banner {
        margin-bottom: 140px !important;
        padding-bottom: 106px !important;
        border-bottom: 0 !important;
        box-shadow: none !important;
    }
    #top_banner:after {
        background: #fff;
    }
    ul.homeTopCtas.mobileOnly li a {
        position: absolute;
        top: 170px;
        left: 50%;
        transform: translate(-50%);
        min-width: 220px;
    }
    .new-banner {
        height: auto;
        border-radius: 5px;
        position: absolute;
        top: -110px;
        box-shadow: 0 0 20px rgb(0 0 0 / 0.2);
        top: -160px;
    }
    .new-banner__block {
        font-size: 11px;
        line-height: 14px;
        padding: 0;
        margin-bottom: 11px;
    }
    .new-banner__block div {
        font-weight: 500;
    }
}
.new-banner.new-banner-second {
    max-width: 1040px;
    margin: -30px auto 10px;
    box-shadow: none;
    background: #ededed;
}
.new-banner.new-banner-second .new-banner__block {
    color: #444;
}
@media (max-width: 700px) {
    .new-banner.new-banner-second {
        position: static;
        margin-top: -20px;
        margin-bottom: 20px;
    }
    .new-banner.new-banner-second .new-banner__block {
        font-size: 12px;
    }
    .new-banner.new-banner-second .new-banner__block {
        color: #848484;
    }
} */
