.body__block--bg-grey .trustpilot-widget {
    background: #ffffff;
    padding: 64px 40px 55px 40px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    border: 1px solid #e7e7e7;
    margin-top: 40px;
    height: 260px;
}
.trustpilot-widget {
    display: block !important;
}
body > div.wrapper > header > div.trustpilot-widget {
    margin: 6px 0 4px;
    height: 28px;
}
@media (max-width: 767px) {
    .header__middle {
        position: relative;
    }
    .header__bottom {
        margin: 0;
    }
}
@media (max-width: 767px) {
    .nav_hold {
        top: 87px;
    }
}
