/* .banner-image {
    width: 100%;
}

.banner-image img {
    width: 100%;
}

.image-desktop {
    display: block;
}
.image-mobile {
    display: none;
}
@media (max-width: 767px) {
    .image-desktop {
        display: none;
    }
    .image-mobile {
        display: block;
    }
} */
