/* .hero-link {
    color: #ffffff !important;
    margin-left: 10px;
}

.hero-link:hover {
    text-decoration: underline !important;
    color: #ffffff !important;
}

@media (max-width: 608px) {
    .hero-link {
        color: #222 !important;
    }
} */
