/* #mobileMenu > nav > div:nth-child(1) > ul > li:nth-child(1) {
    background: #f57e20;
}

#mobileMenu > nav > div:nth-child(1) > ul > li:nth-child(1) button {
    color: #ffffff;
}

#mobileMenu > nav > div:nth-child(1) > ul > li:nth-child(1) .CatalogTree-productCatalogIcon-1sV:before {
    background: url(https://www.topocentras.lt/ddb974cef5fd2a30eb6ed6a7999528cd.svg);
}
#mobileMenu > nav > div:nth-child(1) > ul > li:nth-child(1) .CatalogTree-productCatalogIcon-1sV:after {
    background: url(https://www.topocentras.lt/bca24dcce287bda61cba6b24f7071a14.svg);
    transform: rotate(90deg);
}

#mobileMenu > nav > div:nth-child(2) > div {
    background: #f57e20;

}

#mobileMenu > nav > div:nth-child(2) > div > button {
    color: #ffffff;

}

#mobileMenu > nav > div:nth-child(2) > div > button:before {
    background: url(https://www.topocentras.lt/bca24dcce287bda61cba6b24f7071a14.svg);
    transform: rotate(270deg);

} */