{% assign hero_img = 'https://cdn.shopify.com/s/files/1/0606/5451/8510/files/Screenshot_2022-06-09_at_13.43.37.png?v=1654771466' %}
{% assign hero_title = 'yummy skin, coming soon.' %}

{% capture email_title %}Thank you for your order. {% endcapture %}
{% capture email_body %}
  {% if requires_shipping %}
  {% case delivery_method %}
      {% when 'pick-up' %}
      You're officially on the rhode to dewy, delicious skin. We'll let you know as soon as your order ships out. 
      Here’s all the details:
      {% when 'local' %}
      You're officially on the rhode to dewy, delicious skin. We'll let you know as soon as your order ships out. 
      Here’s all the details:
      {% else %}
      You're officially on the rhode to dewy, delicious skin. We'll let you know as soon as your order ships out. 
      Here’s all the details:
    {% endcase %}
      {% if delivery_instructions != blank  %}
        <p><b>Delivery information:</b> {{ delivery_instructions }}</p>
      {% endif %}
     {% if consolidated_estimated_delivery_time %}
       <p>
         Estimated delivery <b>{{ consolidated_estimated_delivery_time }}</b>
       </p>
     {% endif %}
  {% endif %}
{% endcapture %}

<!DOCTYPE html>
<html lang="en">
  <head>
  <title>{{ email_title }}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="/assets/notifications/styles.css">
  <style>
    .button__cell a { background: {{ shop.email_accent_color }} }
  a, a:hover, a:active, a:visited { color: {{ shop.email_accent_color }}; }
  .button__cell a { border-radius: 50px; border: 1px solid #67645E; width: 200px; padding: 15px 20px; color: #67645E;text-transform: uppercase; letter-spacing: 1px;}
  td.order-list__product-description-cell { text-transform: uppercase; } 
  td.content__cell { padding-bottom: 10px !important; }
  p, td, span, strong, a {color: #67645E !important}
  a {text-decoration: underline;}
  td.shop-name__cell {text-align: center; padding: 40px 0;} 
  p, h1, h2, h3, h4, h5, span, strong {letter-spacing: 0.03em;} 
  .above-logo {text-align: center;}
  td.hero-image {padding-bottom: 15px; position: relative}
  td.hero-image h2 {color: #ffffff; position: absolute;top: 50%; width: 100%; text-align: center; font-size: 32px;transform: translateY(-50%);font-weight: 300;}
  .order-list__product-images {border-radius: 12px; background-color: #AEAEB2;}
  .text-center {text-align: center;} .bold {font-weight: 700;}
  .pb-5 {padding-bottom: 5px;} .pb-10 {padding-bottom: 10px;} .pb-15 {padding-bottom: 15px;} .pb-25 {padding-bottom: 25px;} .pb-35 {padding-bottom: 35px;}
  .pt-5 {padding-top: 5px;} .pt-10 {padding-top: 10px;} .pt-15 {padding-top: 15px;} .pt-25 {padding-top: 25px;} .pt-35 {padding-top: 35px;}
  .pl-5 {padding-left: 5px;} .pl-10 {padding-left: 10px;} .pl-15 {padding-left: 15px;} .pl-25 {padding-left: 25px;} .pl-35 {padding-left: 35px;}
  .pr-5 {padding-right: 5px;} .pr-10 {padding-right: 10px;} .pr-15 {padding-right: 15px;} .pr-25 {padding-right: 25px;} .pr-35 {padding-right: 35px;}
  .padding-0 {padding: 0 !important;}
  .mb-5 {margin-bottom: 5px;} .mb-10 {margin-bottom: 10px;} .mb-15 {margin-bottom: 15px;} .mb-25 {margin-bottom: 25px;} .mb-35 {margin-bottom: 35px;}
  .mt-5 {margin-top: 5px;} .mt-10 {margin-top: 10px;} .mt-15 {margin-top: 15px;} .mt-25 {margin-top: 25px;} .mt-35 {margin-top: 35px;}
  .ml-5 {margin-left: 5px;} .ml-10 {margin-left: 10px;} .ml-15 {margin-left: 15px;} .ml-25 {margin-left: 25px;} .ml-35 {margin-left: 35px;}
  .mr-5 {margin-right: 5px;} .mr-10 {margin-right: 10px;} .mr-15 {margin-right: 15px;} .mr-25 {margin-right: 25px;} .mr-35 {margin-right: 35px;}
  .w-400 {width: 440px !important;}
  .border-bottom {border-bottom: 1px solid #C4C4C4;} .border-top {border-top: 1px solid #C4C4C4;}
  @media (max-width: 600px) {.container { width: 88% !important; }}
  .order-list__product-description-cell {vertical-align: top;}
  .order-list__price-cell span {float: right;}
  .order-list__item-original-price {font-weight: 400; font-size: 16px; text-decoration: line-through;}
  .small-text {font-size: 14px !important;font-weight: 300 !important; margin:0; text-transform: capitalize;}
  .centered tr, .centered td, .centered {text-align: center;}
  p {margin-block-start: 0 !important; margin-block-end: 0 !important;}
  .subtotal-line__title {padding: 0;}
  .hero-image img {width: 100%;}
</style>
</head>

  <body>
    <table class="body">
      <tr>
        <td>

          <body>
            <table class="body">
              <tr>
                <td>
          
                  <!-- Hero section -->
                  <table class="header row">
                    <tr>
                      <td class="header__cell">
                        <center>
          
                          <table class="container">
                            <tr>
                              <td>
          
                                <table class="row">
                                  <tr>
                                    <td class="above-logo">
                                      <p>{{ email_title }}</p>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td class="shop-name__cell">
                                      {%- if shop.email_logo_url %}
                                      <img src="{{shop.email_logo_url}}" alt="{{ shop.name }}" width="{{ shop.email_logo_width }}">
                                      {%- else %}
                                      <h1 class="shop-name__text">
                                        <a href="{{shop.url}}">{{ shop.name }}</a>
                                      </h1>
                                      {%- endif %}
                                    </td>
                                  </tr>
                                  <tr>
                                    <td class="hero-image">
                                      <img src={{ hero_img }}></img>
                                      <!-- <h2>{{ hero_title }}</h2> -->
                                    </td>
                                  </tr>
                                </table>
          
                              </td>
                            </tr>
                          </table>
                        </center>
                      </td>
                    </tr>
                  </table>
                  <!-- Hero section -->


   <!-- Content section -->
   <table class="row content">
    <tr>
      <td class="content__cell">
        <center>
          <table class="container w-400 pb-25">
            <tr>
              <td class="text-center pb-25">
                <p>{{ email_body }}</p>

              </td>
            </tr>
            {% if order_status_url %}

            <tr>
              <td class="text-center pb-10">
                <span class="order-number__text bold">
                  ORDER NO. {{ order_name }}
                </span>
              </td>
            </tr>
            <tr>
              <td class="text-center pb-25">
                <span class="order-number__text">
                  {{ created_at | date: "%b %d, %Y"}}
                </span>
              </td>
            </tr>
            <tr>
              <td class="button__cell" style="border-radius: 50px"><a href="{{ order_status_url }}" class="button__text">View your order</a></td>
            </tr>
            {% endif %}
          </table>
        </center>
      </td>
    </tr>
  </table>
<!-- Content section -->

{% assign gift_card_line_item = line_items | where: "gift_card" %}
{% if gift_card_line_item.first %}
<table class="row section">
  <tr>
    <td class="section__cell">
      <center>
        <table class="container">
          <tr>
            <td>
              <h3>Gift card</h3>
            </td>
          </tr>
        </table>
        <table class="container">
          <tr>
            <td>

              <p> You’ll receive separate emails for any gift cards.</p>

            </td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
</table>
{% endif %}

<!-- Product section  -->
<table class="row section">
  <tr>
    <td class="section__cell">
      <center>
        <table class="container">
          <tr class="border-top">
            <td class="pb-25"></td>
          </tr>
          <tr>
            <td>
              <table class="row">
                {% for line in subtotal_line_items %}
                <tr class="order-list__item" style="border-style:hidden;">
                  <td class="order-list__item__cell pb-15">
                    <table>
                      <td>
                        {% if line.image %}
                        <img src="{{ line | img_url: 'compact_cropped' }}" align="left" width="130" height="160" class="order-list__product-images mr-15" />
                        {% endif %}
                      </td>

                       <!-- Description -->
                       <td class="order-list__product-description-cell">
                        {% if line.product.title %}
                        {% assign line_title = line.product.title %}
                        {% else %}
                        {% assign line_title = line.title %}
                        {% endif %}

                        {% if line.quantity < line.quantity %} {% capture line_display %} {{ line.quantity }} of {{ line.quantity }} {% endcapture %} {% else %} {% assign line_display=line.quantity %} {% endif %}
                          <span class="order-list__item-title">{{ line_title }}</span><br />

                          <!-- <p class="small-text" style="margin-top: 5px !important">Description: {{ line_title }}</p> -->
                          <p class="small-text">Flavor: {{ line.product.metafields.my_fields.variant_title }}</p>
                          <p class="small-text">Quantity: {{ line_display }}</p>

                          {% if line.variant.title != 'Default Title' %}
                          <span class="order-list__item-variant">{{ line.variant.title }}</span><br />
                          {% endif %}

                          {% if line.selling_plan_allocation %}
                          <span class="order-list__item-variant">{{ line.selling_plan_allocation.selling_plan.name }}</span><br />
                          {% endif %}

                          {% if line.refunded_quantity > 0 %}
                          <span class="order-list__item-refunded">Refunded</span>
                          {% endif %}
                      </td>

                      <!-- Total -->
                      <td class="order-list__price-cell" style="min-width: 120px; vertical-align: top;">
                        <span class="order-list__item-price ml-5">
                          {% if line.final_line_price > 0 %}
                          {{ line.final_line_price | money_without_trailing_zeros }}
                          {% else %}
                          Free
                          {% endif %}
                        </span>
                        {% if line.original_line_price != line.final_line_price %}
                        <span class="order-list__item-original-price">{{ line.original_line_price | money_without_trailing_zeros }}</span>
                        {% endif %}
                      </td>
                      
                    </table>
                  </td class="pt-25 pb-25">
                </tr>{% endfor %}
              </table>


              

              <table class="row subtotal-lines">
                <!-- EDITED -->
                <tr style="border-top-style: dashed; border-top-width: 1px; border-top-color: #C4C4C4 !important;">
                    <table class="row subtotal-table">
                      <tr class="subtotal-line" height="5">
                        <td class="subtotal-line__title"> 
                          <p>
                            <span class="small-text">Subtotal</span>
                          </p>
                        </td>
                        <td class="subtotal-line__value">
                          <p class="small-text">{{ subtotal_price | money }}</p>
                        </td>
                      </tr>


                      {% for discount_application in discount_applications %}
                      {% if discount_application.target_selection == 'all' %}
                      {% capture discount_title %}
                      {% if discount_application.title %}
                      {{ discount_application.title | upcase }}
                      {% else %}
                      Discount
                      {% endif %}
                      {% endcapture %}

                      <tr class="subtotal-line">
                        <td class="subtotal-line__title" height="5">
                          <p class="small-text">
                            <span class="small-text">Discount</span>
                          </p>
                        </td>
                        <td class="subtotal-line__value">
                          <p class="small-text">-{{ discount_application.total_allocated_amount | money }}</p>
                        </td>
                      </tr>

                      {% endif %}
                      {% endfor %}

                      <!-- {% if total_discounts > 0 %}
                      <tr class="subtotal-line">
                        <td class="subtotal-line__title" height="5">
                          <p class="small-text">
                            <span class="small-text">Discount</span>
                          </p>
                        </td>
                        <td class="subtotal-line__value">
                          <p class="small-text">-{{ total_discounts | money }}</p>
                        </td>
                      </tr>
                      {% endif %} -->

                    

                      
                      <tr class="subtotal-line">
                        <td class="subtotal-line__title" height="5">
                          <p class="small-text">
                            <span class="small-text">Tax</span>
                          </p>
                        </td>
                        <td class="subtotal-line__value">
                          <p class="small-text">{{ tax_price | money }}</p>
                        </td>
                      </tr>
                      
                      {% if delivery_method == 'pick-up' %}
                      <tr class="subtotal-line">
                        <td class="subtotal-line__title" height="5">
                          <p class="small-text">
                            <span> class="small-text"Pickup</span>
                          </p>
                        </td>
                        <td class="subtotal-line__value">
                          <p class="small-text">{{ shipping_price | money }}</p>
                        </td>
                      </tr>
                      {% else %}

                      <tr class="subtotal-line">
                        <td class="subtotal-line__title" height="5">
                          <p class="small-text">
                            <span class="small-text">Shipping</span>
                          </p>
                        </td>
                        <td class="subtotal-line__value">
                          <p class="small-text">{{ shipping_price | money }}</p>
                        </td>
                      </tr>
                      {% endif %}


                      {% if total_duties %}
                      <tr class="subtotal-line">
                        <td class="subtotal-line__title" height="5">
                          <p class="small-text">
                            <span class="small-text">Duties</span>
                          </p>
                        </td>
                        <td class="subtotal-line__value">
                          <p class="small-text">{{ total_duties | money }}</p>
                        </td>
                      </tr>
                      {% endif %}

                      {% if total_tip and total_tip > 0 %}

                      <tr class="subtotal-line">
                        <td class="subtotal-line__title" height="5">
                          <p class="small-text">
                            <span class="small-text">Tip</span>
                          </p>
                        </td>
                        <td class="subtotal-line__value">
                          <p class="small-text">{{ total_tip | money }}</p>
                        </td>
                      </tr>
                      {% endif %}

                      <tr class="subtotal-line">
                        <td class="subtotal-line__title" height="5">
                          <p class="small-text">
                            <strong class="small-text" style="text-transform: capitalize !important; font-weight: 700 !important;">TOTAL</strong>
                          </p>
                        </td>
                        <td class="subtotal-line__value">
                          <strong class="small-text" style="font-weight: 700 !important">{{ total_price | money_with_currency }}</strong>
                        </td>
                      </tr>

                    </table>



                    {% assign transaction_size = 0 %}
                    {% assign transaction_amount = 0 %}
                    {% for transaction in transactions %}
                    {% unless transaction.kind == "capture" or transaction.kind == "void" %}
                    {% assign transaction_size = transaction_size | plus: 1 %}
                    {% assign transaction_amount = transaction_amount | plus: transaction.amount %}
                    {% endunless %}
                    {% endfor %}

                    {% if transaction_size > 1 or transaction_amount < total_price %} <table class="row subtotal-table">
                <tr>
                  <td colspan="2" class="subtotal-table__line"></td>
                </tr>
                <tr>
                  <td colspan="2" class="subtotal-table__small-space"></td>
                </tr>

                {% for transaction in transactions %}
                {% if transaction.status == "success" and transaction.kind == "authorization" or transaction.kind == "sale" %}
                {% if transaction.payment_details.credit_card_company %}
                {% capture transaction_name %}{{ transaction.payment_details.credit_card_company }} (ending in {{ transaction.payment_details.credit_card_last_four_digits }}){% endcapture %}
                {% else %}
                {% capture transaction_name %}{{ transaction.gateway_display_name }}{% endcapture %}
                {% endif %}


                <tr class="subtotal-line">
                  <td class="subtotal-line__title">
                    <p>
                      <span>{{transaction_name}}</span>
                    </p>
                  </td>
                  <td class="subtotal-line__value">
                    <strong>{{ transaction.amount | money }}</strong>
                  </td>
                </tr>

                {% endif %}
                {% if transaction.kind == 'refund' %}
                {% if transaction.payment_details.credit_card_company %}
                {% assign refund_method_title = transaction.payment_details.credit_card_company %}
                {% else %}
                {% assign refund_method_title = transaction.gateway %}
                {% endif %}


                <tr class="subtotal-line">
                  <td class="subtotal-line__title">
                    <p>
                      <span>Refund</span>
                      <br>
                      <small>{{ refund_method_title | capitalize }}</small>
                    </p>
                  </td>
                  <td class="subtotal-line__value">
                    <strong>- {{ transaction.amount | money }}</strong>
                  </td>
                </tr>

                {% endif %}
                {% endfor %}
              </table>
              {% endif %}
            </td>
          </tr>
        </table>


    </td>
  </tr>
</table>
</center>
</td>
</tr>
</table>

<table class="row section">
  <tr>
    <td class="section__cell pt-5">
      <center>
        <table class="container">
          <tr>
            <td class="border-top pt-35">

              <table class="row centered">
                <tr>
                  <!-- {% if requires_shipping and shipping_address %}
                  <td class="customer-info__item">
                    <p style="font-size: 12px; font-weight: 700" class="mb-5">YOUR ORDER WILL BE SHIPPED TO:</p>
                    {{ shipping_address | format_address }}
                  </td>
                  {% endif %} -->
                  {% if billing_address %}
                  <td class="customer-info__item">
                    <p style="font-size: 12px; font-weight: 700" class="mb-5">YOUR ORDER WILL BE SHIPPED TO:</p>
                    {{ billing_address | format_address }}
                  </td>
                  {% endif %}
                </tr>
              </table>


              <table class="row centered">
                <tr>
                  {% if requires_shipping and shipping_address %}
                  <td class="customer-info__item">
                    <p style="font-size: 12px; font-weight: 700" class="mb-5">SHIPPING METHOD:</p>
                    <p>{{ shipping_method.title }}</p>
                  </td>
                  {% endif %}
                  {% assign transaction_count = transactions | size %}
                  {% if transaction_count > 0 %}

                </tr>
              </table>
              <table class="row centered">
                <tr>
                  <td class="customer-info__item">
                    <p style="font-size: 12px; font-weight: 700" class="mb-5">PAYMENT METHOD:</p>
                    {% for transaction in transactions %}
                    {% if transaction.status == "success" or transaction.status == "pending" %}
                    {% if transaction.kind == "authorization" or transaction.kind == "sale" %}
                    {% if transaction.payment_details.credit_card_company %}
                    <p class="customer-info__item-content">
                      <span>{{transaction.payment_details.credit_card_company}} (••••••••••••{{ transaction.payment_details.credit_card_last_four_digits }})   <strong>{{ transaction.amount | money }}</strong></span>
                    </p>
                    {% elsif transaction.gateway_display_name == "Gift card" %}
                    <p class="customer-info__item-content">
                      <img src="{{ transaction.gateway_display_name | downcase | replace: ' ', '-'  | payment_type_img_url }}" class="customer-info__item-credit" height="24">
                      ending with {{ transaction.payment_details.gift_card.last_four_characters | upcase }} &mdash; <strong>{{ transaction.amount | money }}</strong> <br />
                      &emsp;&emsp;&emsp;&nbsp;Gift card balance: {{ transaction.payment_details.gift_card.balance | money }}
                    </p>
                    {% else %}
                    <p class="customer-info__item-content">
                      {{ transaction.gateway_display_name }} &mdash; <strong>{{ transaction.amount | money }}</strong>
                    </p>
                    {% endif %}
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                  </td>
                  {% endif %}
                </tr>
              </table>

            </td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
</table>
<!-- 
<table class="row footer">
  <tr>
    <td class="footer__cell">
      <center>
        <table class="container">
          <tr>
            <td>

              <p class="disclaimer__subtext">If you have any questions, reply to this email or contact us at <a href="mailto:{{ shop.email }}">{{ shop.email }}</a></p>
            </td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
</table> -->

<img src="{{ 'notifications/spacer.png' | shopify_asset_url }}" class="spacer" height="1" />

</td>
</tr>
</table>
</body>

</html>