.accordion {
    background-color: rgb(255, 255, 255);
    color: rgb(86, 86, 86);
    padding: 15px;
    border: 1px solid rgb(230, 230, 230);
    margin-bottom: 15px;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px;
    height: 53px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.accordion.active {
    height: auto;
}

.accordion .edit-button {
    cursor: pointer;
    display: none;
}

.accordion h3 {
    margin: -15px -15px 15px -15px;
    padding: 15px;
    background: rgb(251, 251, 251);
    border-bottom: 1px solid rgb(230, 230, 230);
    font-weight: 500;
    font-size: 18px;
}

.accordion .accordion-name-container,
.accordion .accordion-address-container {
    display: none;
}

.accordion-name.active .accordion-name-container {
    display: block;
}

.accordion-name.completed {
    height: auto;
}

.accordion-name.completed::before {
    opacity: 0;
}

.accordion-name.completed h3 {
    border: 0px;
    background-image: initial;
    background-position: initial;
    background-size: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: transparent;
}

.accordion-name.completed .edit-button {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 17px;
    font-weight: 600;
    color: rgb(50, 145, 251);
}

.accordion-name.completed .accordion-name-container {
    display: block;
}

.accordion-name.completed .accordion-name-container label {
    display: none;
}

.accordion-name.completed .accordion-name-container input {
    pointer-events: none;
    padding: 0px;
    margin: 0px;
    border: 0px !important;
}

.accordion-name.completed .accordion-name-container input:-webkit-autofill,
.accordion-name.completed .accordion-name-container input:-webkit-autofill:hover,
.accordion-name.completed .accordion-name-container input:-webkit-autofill:focus,
.accordion-name.completed .accordion-name-container input:-webkit-autofill:active {
    box-shadow: white 0px 0px 0px 30px inset !important;
}

.accordion-name.completed .accordion-name-container .proceed-button {
    display: none;
}

div#__lpform_sylius_checkout_address_and_payment_customer_email {
    display: none;
}

.accordion-address.active .accordion-address-container {
    display: block;
}

.accordion::before {
    content: '>';
    font-weight: 500;
    position: absolute;
    top: 13px;
    right: 22px;
    font-family: monospace;
    font-size: 23px;
    transform: rotate(90deg);
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    transition-property: all;
}

.accordion.active::before {
    transform: rotate(-90deg);
}

#formStep2 > div.mobile-row > div:nth-child(2) > div.accordion.required-accordion {
    background-color: rgb(242, 97, 34);
    color: rgb(255, 255, 255);
}

button.btn.btn-orange.btn-xs.btn-prevent-double-click.disabled-button {
    background: rgb(228, 228, 228);
    color: rgb(51, 51, 51);
    border: 1px solid transparent;
}

body > form > div.container.mt-5 > div:nth-child(2) > div:nth-child(1) > div:nth-child(3) {
    position: absolute;
    top: -32px;
}

body > form > div.container.mt-5 > div:nth-child(2) > div:nth-child(1) > div:nth-child(3) h2 {
    border: 0px;
}

body > form > div.container.mt-5 > div:nth-child(2) > div:nth-child(1) > div.accordion.accordion-name > div > div:nth-child(3) {
    margin-top: 0px !important;
}

.field label {
    margin: 0px 0px 5px 0px;
    display: block;
    font-weight: 500;
}

body > form > div.container.mt-5 {
    margin-top: 15px !important;
}

.proceed-button {
    float: right;
}

body > form > div.container.mt-5 > div:nth-child(2) > div:nth-child(1) > div.accordion.accordion-address.active > div > div:nth-child(1) > div {
    margin-bottom: 0px;
}

.field .checkbox label,
.field .radio label {
    margin-bottom: 0px;
    font-size: 13px;
}
