.cart-delivery h1 {
    @media (max-width: 767px) {
        margin-bottom: 20px;
    }
}

.delivery-block-accordion {
    border: 1px solid silver;
    border-radius: 4px;
    background: #ffffff;
    overflow: hidden;
    margin: 20px -15px;
    height: 60px;

    @media (max-width: 993px) {
        margin: 20px 0;
    }

    @media (max-width: 767px) {
        margin: 0 -15px;
        border-bottom: 0;

        &:last-child {
            border-bottom: 1px solid silver;
        }
    }

    &.active {
        border: 2px solid #c6e6ff;
        height: initial;
        background: #edf7ff;

        .input-radio {
            border: 1px solid #0091ff;

            &:before {
                content: '';
                position: absolute;
                top: 1px;
                left: 1px;
                width: 9px;
                height: 9px;
                background: #0091ff;
                border-radius: 11px;
            }
        }
    }

    .input-radio {
        width: 13px;
        height: 13px;
        border-radius: 10px;
        border: 1px solid silver;
        margin-right: 20px;
        position: relative;
    }

    .accordion-header {
        display: flex;
        cursor: pointer;
        align-items: center;
        justify-content: space-between;
        padding: 17px 20px 10px;

        @media (max-width: 993px) {
            padding: 20px 20px 10px;
        }

        .accordion-left {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;

            .radio-alert {
                margin-left: 20px;

                @media (max-width: 767px) {
                    position: absolute;
                    top: -8px;
                    left: 56px;
                }
            }

            .accordion-title {
                @media (max-width: 767px) {
                    position: absolute;
                    top: 12px;
                    left: 68px;
                    width: 100px;
                }
            }
        }
    }

    .accordion-content {
        padding: 20px;
        padding-top: 0;

        @media (max-width: 993px) {
            padding: 15px;
            padding-top: 0;
        }
    }

    p {
        font-weight: 700;
        font-size: 13px;
        margin: 0;
    }

    img {
        width: 25px;
        height: 25px;
        object-fit: contain;
        margin-right: 15px;

        @media (max-width: 993px) {
            width: 20px;
            height: 20px;
        }
    }
}

.cart .cart-delivery .radio {
    border: 1px solid silver;
    margin-top: 15px;
    padding: 15px 20px;
    border-radius: 4px;
    background: #ffffff;

    @media (max-width: 993px) {
        padding: 15px;
    }

    &.active {
        border: 2px solid #2196f3;
        box-shadow: 0 0 10px #2196f37d;
    }

    .hidden {
        display: inline-block !important;
    }

    .row {
        margin-right: 0;
        margin-left: 0;

        &:before {
            display: none;
        }
        &:after {
            display: none;
        }
    }

    label {
        display: flex;
        align-items: center;
        width: 100%;
        margin-left: 0;
        padding-left: 0;
        min-height: initial;
        white-space: nowrap;

        @media (max-width: 993px) {
            display: block;
        }

        input {
            margin: 0 15px 0 0;
        }
    }

    .subtext {
        font-style: initial;
        width: auto;
        font-weight: 400;
        margin-left: 0;
        text-align: justify;
        margin: 0 !important;

        @media (max-width: 993px) {
            text-align: initial;
        }
    }

    .text-container {
        margin: 0 30px 0 30px;
        white-space: initial;

        @media (max-width: 993px) {
            margin: 0;
        }
    }

    .text-labels {
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 993px) {
            display: block;
            margin: 15px 0;
        }

        .free-delivery-disclaimer {
            font-size: 12px;
        }
    }

    .price-delivery {
        margin-left: auto;
        color: #000000;

        @media (max-width: 993px) {
            position: absolute;
            top: 15px;
            right: 15px;
        }
    }

    .dynamic-label {
        width: 100% !important;
    }

    .new-city-dropdown {
        padding-left: 110px;

        @media (max-width: 993px) {
            padding: 0;
        }

        .row {
            display: flex;
        }

        .mt-2 {
            margin-right: 10px;
        }
    }

    .dynamic-label-flex {
        flex-direction: column !important;
        justify-content: space-between;
    }
}

.radio-alert {
    color: #ffffff;
    font-size: 9px;
    font-weight: 600;
    display: flex;
    margin-left: 10px;
    white-space: nowrap;

    @media (max-width: 993px) {
        margin-bottom: 10px;
    }

    div {
        transform: skew(-40deg);
        background: #ff3a3a;
        margin-right: 10px;
        padding: 2px 10px;
        text-align: center;

        p {
            transform: rotate(120deg);
            margin: 0;
            font-size: 9px;
            -webkit-transform: skewX(40deg) skewY(0);
            transform: skewX(40deg) skewY(0);
        }
    }
}
