footer .ProductDropdown-content {
    max-height: 500px;
    overflow: auto !important;
    opacity: 1 !important;
}

footer .ProductDropdown-content .ProductOptions-list {
    display: block;
}

footer .ProductOptions-item {
    width: 400px;
    height: 400px;
}

.has-open-offcanvas .Offcanvas-bgDimmer {
    display: none !important;
}

.CartUpsell-container.CartUpsell-container--visible {
    display: none;
}

.ab-cart-upsel {
    position: fixed;
    width: calc(100% - 444px);
    min-height: calc(100% - 130px);
    background: #faf9f5;
    border: 1px solid red;
    top: 130px;
    left: 0;
    z-index: 3;
    padding: 50px;
    font-family: 'Grand Baron';

    h2 {
        color: #5d6a50;
        margin-bottom: 50px;
        font-weight: 400;
    }

    .row-1 {
        .row-1-products {
            display: flex;
            justify-content: space-between;
        }

        .row-1-added-product {
            display: flex;
            align-items: center;

            .CartDrawerItem-imagePlaceholder.o-placeholder {
                width: 150px;
                height: 150px;
                padding: 0;
            }

            .CartDrawerItem-title {
                margin-left: 20px;
                font-size: 20px;
                color: #5d6a50;
            }
        }

        .favorite-outfit-title {
            font-size: 22px;
            color: #5d6a50;
            margin-bottom: 15px;
        }

        .ProductOptions-list {
            display: flex;
            column-gap: 30px;

            li.ProductOptions-item {
                width: 85px;
            }

            li:last-child {
                display: none;
            }

            .ProductOptions-price,
            .ProductOptions-checkmark {
                display: none;
            }
        }
    }

    .row-2 {
        .row-2-title {
            display: block;
            font-size: 18px;
            color: #5d6a50;
        }

        .row-2-subtitle {
            display: block;

            font-size: 12px;
            color: #a6a6a6;
        }

        .ProductOptions-list {
            display: block;
            width: 100%;
            overflow: unset;

            li {
                width: 200px;
            }
        }

        .ProductOptions-image:after {
            background: #faf9f5;
        }
    }

    .slick-prev,
    .slick-next {
        width: 52px;
        height: 43px;
        background: url(https://semexit.s3.eu-west-1.amazonaws.com/arrow.svg);
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 1;
    }

    .slick-prev:before,
    .slick-next:before {
        opacity: 1;
        color: transparent;
    }

    .slick-prev:hover,
    .slick-prev:focus,
    .slick-next:hover,
    .slick-next:focus {
        background: url(https://semexit.s3.eu-west-1.amazonaws.com/arrow.svg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    button.slick-next.slick-arrow {
        transform: rotate(180deg);
        top: 43%;
    }
}
