#navbar-mini-header > div > a:nth-child(4) {
    display: none;
}

.test-dropdown {
    cursor: pointer;
    position: relative;

    .svg-icon {
        position: absolute;
        right: -15px;
        top: 2px;
        background-color: #ffffffc7;
        width: 9px;

        &.display {
            transform: rotate(180deg);
        }
    }

    .test-dropdown-content {
        display: none;
        position: absolute;
        background: #ffffff;
        z-index: 1;
        border-radius: 2px;
        box-shadow: 0 0 10px #0000003b;
        padding: 17px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 160px;
        gap: 10px;
        top: 2.2rem;
        right: -2rem;

        &.display {
            display: flex;
        }

        a {
            color: #6b6969;
        }
    }

    .closing-container {
        position: fixed;
        background: #00000033;
        width: 100vw;
        height: 100vh;
        left: 0;
        top: 0;
        z-index: 1;
        display: none;

        &.display {
            display: block;
        }
    }
}

.loto-slider {
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
    margin-left: 15px;

    @media (max-width: 767px) {
        max-width: initial;
        padding: 0;
        margin: 0;
        background: #1c646f;
        padding: 20px 30px;
        border-top: 1px solid #2c7580;
    }

    a {
        img {
            width: 100%;
            height: 36px;
            object-fit: contain;

            @media (max-width: 767px) {
                height: 25px;
                border-right: 1px solid #0C5861;
            }
        }
    }

    .slick-prev {
        color: transparent;
        padding: 0;
        left: -18px;
        background-size: 11px;

        @media (max-width: 767px) {
            left: -10px;
        }
    }

    .slick-next {
        padding: 0;
        color: transparent;
        background-size: 11px;
        right: -7px;

        @media (max-width: 767px) {
            right: 0;
        }
    }
}

.hide-mobile {
    display: block;

    @media (max-width: 767px) {
        display: none;
    }
}

.hide-desktop {
    display: none;

    @media (max-width: 767px) {
        display: block;
    }
}


body {
    margin-top: 165px !important;
}