.new-cta {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: white;
    z-index: 12312312;
    display: flex;
    box-shadow: 0 0 10px silver;
    padding: 5px;
    // display: none;

    // & {
    //     display: flex;
    // }

    .pd-price-discount {
        display: none;
    }

    .pd-prices {
        max-width: 110px;
    }

    .three-prices {
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;

        .pd-price-current {
            font-size: 22px;
        }
    }

    .addtocart {
        width: 100%;
        max-width: 200px;
        position: absolute;
        right: 5px;
        height: 50px;
    }
}

.sweet-alert {
    position: fixed;
    bottom: 60px;
    width: 100%;
    left: 0;
    right: 0;
    padding: 15px;
    padding-left: 0;
    height: 200px;
    top: unset;
    margin-top: 0 !important;
    z-index: 12312313;
    box-shadow: none;
    border-bottom: 1px solid #dddddd;

    button.confirm {
        position: fixed;
        bottom: 6px;
        height: 50px;
        right: 0px;
        bottom: 5px;
        width: 200px;
        padding: 0 !important;
    }

    button.cancel {
        top: 0 !important;
        right: 0 !important;
        width: 40px;
        height: 40px;
        z-index: 1;
    }

    .sa-icon,
    .sa-error-container,
    fieldset {
        display: none !important;
    }

    .sa-button-container {
        height: 0;
    }

    button.confirm[disabled] {
        opacity: 1;
        background: #527f6b !important;
    }
}

.sweet-alert .new-modal-content {
    display: flex;

    .image-side {
        width: 100%;
        max-width: 160px;

        img {
            width: 100%;
            max-width: 154px;
        }
    }

    .content-side {
        .col-xs-100.pd-mobile-title.text-center.marginb12.margint12 {
            text-align: left;
            margin: 0;
            padding: 0;
            padding-right: 10px;

            span.pd-title {
                font-size: 15px;
                font-weight: 900;
            }
        }

        h2 {
            font-size: 14px;
            text-align: left;
            margin: 0;
            padding: 0;
        }

        p > p {
            display: flex;
            flex-wrap: wrap;
            height: 50px;
        }

        .radio input + span {
            padding: 5px 15px;
        }
    }
}

@media (min-width: 541px) {
    .sweet-alert {
        left: 257px;
    }
}

.showSweetAlert[data-animation='pop'],
.hideSweetAlert[data-animation='pop'] {
    animation: none !important;
}

body > div.new-cta > div > span.three-prices > span.pd-price-old.c-black {
    margin-right: 5px;
}
