.alert.alert-warning.new-top-notification {
    margin-top: 0;
    background-color: #09f;
    color: #fff;
    padding: 15px 20px;
    position: static;
    width: 100%;
}
.alert.alert-warning.new-top-notification .container {
    margin: 0 auto;
    position: relative;
    width: 100%;
    max-width: 1108px;
}
.alert.alert-warning.new-top-notification .new-top-notification-close {
    position: absolute;
    top: 0;
    right: -10px;
    font-size: 14px;
    cursor: pointer;
}
@media (max-width: 767px) {
    .alert.alert-warning.new-top-notification {
        font-size: 13px;
    }
}
body.with-notification {
    .header {
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 1000;
        display: block;
        height: auto !important;

        .header__container {
            position: static;
        }
    }
}
