.new-trust-badges {
    width: 100%;
    margin: 30px 0;

    .TopBar-middleContainer-3PL {
        background: #ffffff;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 20px;

        a {
            font-size: 14px;
            color: #000000;

            &::before {
                width: 40px;
                height: 40px;
            }
        }

        @media (max-width: 767px) {
            flex-wrap: wrap;

            a {
                width: 50%;
                margin: 15px 0;
                display: block;
                text-align: center;

                &::before {
                    width: 40px;
                    height: 40px;
                    display: block;
                    margin: 0 auto 10px;
                }
            }
        }
    }
}
