.block-review {
    margin-top: -20px;
    margin-bottom: 20px;

    a#bt_btn-review-form {
        font-size: 12px !important;
        color: #939393 !important;
        font-weight: 400 !important;
    }
}

.d-sm-none.add-wish-list {
    float: right;

    p.buttons_bottom_block {
        border: 0 !important;
        height: 0 !important;

        i.material-icons {
            margin: 0;
        }
    }
}

#add-to-cart-or-refresh > div.product-prices > div.techno-export-short-message {
    margin-top: 10px;
}

#add-to-cart-or-refresh > div.product-prices > div.product-price {
    font-size: 34px;
}

fieldset.services-form {
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    padding-top: 10px;
    margin-bottom: 20px;

    label {
        font-size: 12px;
    }

    .form-check {
        font-size: 13px;
    }

    & > div:nth-child(4) {
        margin-bottom: 0;
    }

    p {
        font-size: 13px;
        margin-bottom: 5px;
        color: #b7b7b7;
    }
}
#add-to-cart-or-refresh > div.product-add-to-cart > fieldset > div:nth-child(3) > div > div.col-lg-6.col-md-6 {
    padding-left: 42px;
}

#add-to-cart-or-refresh > div.product-shipping-container .shipping-methods-title {
    display: none;
}
#add-to-cart-or-refresh > div.product-shipping-container > div.col-md-6.mobile-delivery-in-stock-container > span {
    display: none;
}

.delivery-in-stock-container {
    font-size: 14px;
    font-weight: 600;
    margin-left: -15px;
    margin-bottom: 10px;
    color: #fe9c01;
}

button.btn.btn-primary.add-to-cart {
    padding: 10px 15px !important;
    width: inherit;
    height: 44px !important;
}

.add {
    width: 100% !important;
    display: flex !important;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: 50px;

    div.col-lg-5.col-md-5 > div > div {
        margin-bottom: 0;
    }

    div.col-lg-5.col-md-5 {
        padding: 0 !important;
    }

    .qty {
        display: inline-block;
        float: none;
        width: auto;
    }

    .qty .input-group {
        width: auto;
        border: 1px solid #e5e5e5;
        background: #fff;
        border-radius: 3px;
    }

    #quantity_wanted {
        height: 40px;
        width: 46px;
        line-height: 40px;
        text-align: center;
        border: none;
        z-index: 0;
        color: #555;
        font-weight: 500;
        font-size: 100%;
        max-height: 40px;
    }

    .input-group-btn-vertical {
        float: left;
        width: auto;
        border-left: 1px solid #e5e5e5;
        padding: 0 6px;
    }

    .input-group-btn-vertical {
        padding: 0 5px;
        width: 30px;
    }

    .input-group-btn-vertical button {
        height: 20px;
        float: left;
        width: 100%;
        background-color: #fff;
        border: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        position: relative;
    }

    .input-group-btn-vertical .btn {
        border: none;
        padding: 0;
        text-align: center;
        background: 0 0;
    }

    .input-group-btn-vertical .bootstrap-touchspin-up {
        width: 20px;
    }

    .input-group-btn-vertical .bootstrap-touchspin-down {
        border-bottom: 1px solid #ddd;
        width: 20px;
        transform: rotate(180deg);
    }

    .input-group-btn-vertical .bootstrap-touchspin-up i:before,
    .input-group-btn-vertical .bootstrap-touchspin-down i:before {
        font-family: FontAwesome;
        color: #747474;
        font-size: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .input-group-btn-vertical .bootstrap-touchspin-up i:before,
    .input-group-btn-vertical .bootstrap-touchspin-down i:before {
        content: '\f077';
    }
}
